<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TodoDao">

    <select id="getTodoList" resultType="com.example.demo.po.TodoPo">
        SELECT * FROM todolist
        <where>
            AND DATE(deadline) = CURRENT_DATE
            <if test="userId != null and userId != ''">
                AND userid = #{userId}
            </if>
            <if test="isDone != null">
                AND isdone = #{isDone}
            </if>
        </where>
    </select>
</mapper>
