<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TodoDao">

    <select id="getTodoList" resultType="com.example.demo.po.TodoPo">
        select * from todolist
<!--        <where>-->
<!--            <if test="id != null and id != ''">-->
<!--                and id = #{id}-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>
